.banner-principal-decorativo
  &-1
    animation: float1 3.5s ease-in-out infinite alternate
    position: absolute
    top: 30%
    right: 10%
  &-2
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 60%
    right: 70%

@keyframes float1
  0%
    transform: translateY(20px)
  100%
    transform: translateY(0px)

.banner-principal__row .banner-principal__img
  width: 450px
  @media screen and ( max-width: $bp-max-lg )
    width: 400px

.banner-interno__fondo
  background-image: url("../assets/curso/portada/img1.png") !important

.tarjeta.color-acento-botones
  background-color: #F3F0EA
.tabs-a__tab
  background-color: #E2DACC

.tabs-b__tab
  background-color: #E2DACC
.tabs-b__tab--active
  background-color: #FBFBF9

.bg
  &-c1
    background-color: #E4F2F7
  &-c2
    background-color: #F9F2C8
    border-radius: 15px
  &-c3
    background-image: url(../assets/curso/tema1/img4.svg)
    background-repeat: repeat-x
    background-position: center
    @media screen and ( max-width: $bp-max-md )
      background-repeat: repeat
  &-c4
    background-color: #FDECD4
  &-c5
    background-color: #F0E077
    border-top-left-radius: 15px
    border-bottom-left-radius: 15px
    @media screen and ( max-width: $bp-max-sm )
      border-bottom-left-radius: 0px
      border-top-right-radius: 15px
  &-c6
    background-color: #98D1E2
    border-top-right-radius: 15px
    border-bottom-right-radius: 15px
    @media screen and ( max-width: $bp-max-sm )
      border-top-right-radius: 0px
      border-bottom-left-radius: 15px
  &-c7
    background-image: url(../assets/curso/tema1/img4.png)
    background-repeat: no-repeat
    margin-inline: -3.2rem !important
    background-size: contain
  &-c8
    background-color: #FCD9AB
  &-c9
    background-image: url(../assets/curso/tema2/img2.png)
    background-repeat: no-repeat
    margin-inline: -3.2rem !important
    background-size: contain
  &-c10
    background-color: #F8A230
  &-c11
    background-color: #FFFFFF
    border-radius: 15px
  &-c12
    background-color: #CBE7F0
  &-c13
    background-color: #FBFBF9